<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<title>회원가입</title>
<head>

    <%- partial('../common/header_mobile.ejs') %>


    <script src="<%=CMS.cdn%>/html/fo/js/libs/naverLogin_implicit-1.0.2.js"></script>
    <script type="text/javascript" src="<%=CMS.cdn%>/html/fo/js/user.js"></script>
    <script type="text/javascript" src="<%=CMS.cdn%>/html/fo/js/facebook.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <SCRIPT LANGUAGE="JavaScript">
    function formSubmit(){
    //return document.mainForm.submit();

        $("#mainForm").submit();

    }
    </script>
</head>
<body>
<!-- content -->


<div id="wrap">
    <form method="POST" action="/srv/<%=objname%>/regist" name = "mainForm"  id="mainForm">
    <div id="subConts">
        <div class="sub_logo"><img src="<%=CMS.cdn%>/html/fo/img/logo.png" alt="TouchCash 로고" style = "width:100px;" /></div>

        <div class="join_box">
            <ul>
                <li><input id="email" type="text" name="email" placeholder = "이메일을 입력하세요."></li>
                <li><input id="passwd" type="password" name="passwd" placeholder = "비밀번호를 입력하세요."></li>
            </ul>
        </div>
        <div class="gap10"></div>
        <div class="email_regist" onclick = "emailLogin($('#email').val(), $('#passwd').val());"><a href="javascript:void(0);" id="email_login">로그인</a></div>
        <div class="gap20"></div>

        <div class="sns">
            <div class="sns_kakao" onclick = "snsLogin('K');"><a href="javascript:void(0);" >KAKAO</a></div>
            <div class="sns_naver" onclick = "snsLogin('N');"><a href="javascript:void(0);" id="naver_id_login">NAVER</a></div>
            <div class="sns_facebook" onclick = "snsLogin('F');"><a href="javascript:void(0);" id="facebook">FACEBOOK</a></div>
            <div class="email_login" onclick = "emailJoin();"><a href="javascript:void(0);" id="email_regist">회원가입</a></div>
            <div class="gap10"></div>
            <div class="email_login find_passwd" onclick = "javascript:location.href = '/srv/seller/mobile/find';"><a href="javascript:void(0);" id="find_passwd">비밀번호찾기</a></div>
        </div>

    </div>
        <input id="snsid" type="hidden" name="snsid">
        <input id="sns" type="hidden" name="sns">
        <input id="auth" type="hidden" name="auth">
        <input id="phonenb" type="hidden" name="phonenb">
        <input id="token" type="hidden" name="token">
    </form>
</div><!-- (e) #wrap -->
<!-- content //-->

<!-- 카카오톡 javascript -->
<script type="text/javascript" src="<%=CMS.cdn%>/html/fo/js/kakao.js"></script>

<!-- 네이버 javascript  -->
<script type="text/javascript" src="<%=CMS.cdn%>/html/fo/js/naver.js"></script>


</body>


</html>